<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TutorMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tutor Me: Sign up for a Free Tutoring Service">
    <meta name="author" content="Angela McCarthy">

    <!-- Le styles -->
	<link rel="stylesheet" type="text/css" href="assets/bootstrap.css" media="screen">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }


    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 11px;
    }

    </style>
	<link rel="stylesheet" type="text/css" href="assets/bootstrap-responsive.css" media="screen">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
        
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/home">tutor</a><a class="brand" href="/home" style="color: #383736"><b>me</b></a>
 	 		<div class="nav-collapse collapse">
    	    <!-- .nav, .navbar-search, .navbar-form, etc -->
        		<form class="navbar-search pull-right">
	    		 		<a href="/aboutus" style="color:#dbdbdb; margin-top: 25px; margin-right: 20px;">About</a>
	    		 		<a href="/help" style="color:#dbdbdb; margin-top: 25px; margin-right: 20px;">Contact</a>
	   		    </form>
	        </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    <div class="container">

		<div class="row">
			<div class="span8">
				<div id = "SignInForm">
				
					<h1>Why a Waitlist?</h1>

					<p class=gray style="font-size: 130%">The TutorMe team is currently in the process of developing a fully 
					functional version of our application. To make sure we include the best 
					and most useful features, we are first going to set up a waitlist
					 so that we can compile a population of qualified tutors and interested 
					 students.  We'll keep you updated 
					 with our progress and, if you join our waitlist, you'll be one of the first
					  to have access to our web and mobile tutor-matching application. </p>
										
					<p><a class="btn btn-large btn-success" href="/home">Sign Up</a></p>

				</div>
			</div>
		</div>
	</div>





    </div> <!-- /container -->















    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/jquery.js"></script>
    <script src="assets/bootstrap-transition.js"></script>
    <script src="assets/bootstrap-alert.js"></script>
    <script src="assets/bootstrap-modal.js"></script>
    <script src="assets/bootstrap-scrollspy.js"></script>
    <script src="assets/bootstrap-tooltip.js"></script>                           <!-- TODO: add these to sign up form? -->
    <script src="assets/bootstrap-button.js"></script>
    <script src="assets/bootstrap-collapse.js"></script>
    <script src="assets/bootstrap-carousel.js"></script>
    <script src="assets/holder.js"></script>
  </body>
</html>
